.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/support_v13_18_0_0.xml
.idea/libraries/support_v4_18_0_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/libraries/libs.xml
.idea/libraries/libs2.xml
HeartRateMonitor/.idea/.name
HeartRateMonitor/.idea/compiler.xml
HeartRateMonitor/.idea/copyright/profiles_settings.xml
HeartRateMonitor/.idea/encodings.xml
HeartRateMonitor/.idea/libraries/libs.xml
HeartRateMonitor/.idea/misc.xml
HeartRateMonitor/.idea/modules.xml
HeartRateMonitor/.idea/scopes/scope_settings.xml
HeartRateMonitor/.idea/vcs.xml
HeartRateMonitor/.idea/workspace.xml
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/BuildConfig.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/MainActivity$SectionsPagerAdapter.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/MainActivity.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$attr.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$color.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$dimen.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$drawable.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$id.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$integer.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$layout.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$menu.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$string.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R$style.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/R.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/bluetoothLE/BlueToothLEEvent.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/bluetoothLE/BluetoothLeService$1.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/bluetoothLE/BluetoothLeService$LocalBinder.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/bluetoothLE/BluetoothLeService.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/bluetoothLE/GattAttributes.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/fragments/HeartRateFragment$1.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/fragments/HeartRateFragment$2.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/fragments/HeartRateFragment$3$1.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/fragments/HeartRateFragment$3.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/fragments/HeartRateFragment$OnHeartRateListener.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/fragments/HeartRateFragment.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/fragments/LogFragment.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$1.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$2$1.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$2.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$3.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$4$1.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$4.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$5.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$6$1.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider$6.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/BasicHeartRateProvider.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/HeartRateConstants.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/monitor/HeartRateEvent.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/utilities/BluetoothLEUtils.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/views/BpmGraphView.class
HeartRateMonitor/out/production/main/com/rain/android/heartratemonitor/views/SmoothLineGraphView.class
HeartRateMonitor/out/production/main/main.apk
HeartRateMonitor/out/production/main/main.unaligned.apk
HeartRateMonitor/src/main/gen/com/rain/android/heartratemonitor/BuildConfig.java
HeartRateMonitor/src/main/gen/com/rain/android/heartratemonitor/Manifest.java
HeartRateMonitor/src/main/gen/com/rain/android/heartratemonitor/R.java
HeartRateMonitor/src/main/main.iml
